<h1 class="page-title">Help</h1>
<div class="container">
{% markdown %}
## Options

### Scale

Create a version of the source image which retains aspect ratio and outputs the image at a specific width (in pixels).

### Resize

Create a version of the source image with specified height and width.

### Custom sizes

Enter a set of destination sizes, separated by commas. 
A single number will scale the image to a specified width, retaining aspect ratio.
Two numbers separated by an ```x``` will generate a new image with the dimensions width x height.

### Fill

When both a width and height are provided, the possible methods by which the image should fit these are:

- ```cover```: Preserving aspect ratio, attempt to ensure the image covers both provided dimensions by cropping/clipping to fit.
- ```contain```: Preserving aspect ratio, contain within both provided dimensions using "letterboxing" where necessary.
- ```fill```: Ignore the aspect ratio of the input and stretch to both provided dimensions.
- ```inside```: Preserving aspect ratio, resize the image to be as large as possible while ensuring its dimensions are less than or equal to both those specified.
- ```outside```: Preserving aspect ratio, resize the image to be as small as possible while ensuring its dimensions are greater than or equal to both those specified.

![](./images/api-resize-fit.svg)

When using a fit of ```cover``` or ```contain```, you may specify a position to align the image.

When using a fit of ```cover``` you may specify a strategy:

- ```entropy```: focus on the region with the highest [Shannon entropy](https://en.wikipedia.org/wiki/Entropy_%28information_theory%29).
- ```attention```: focus on the region with the highest luminance frequency, colour saturation and presence of skin tones.

## Sharp

ICO uses the [sharp image processor](https://sharp.pixelplumbing.com/). See their documentation for more information. 

{% endmarkdown %}
</div>