*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: var(--body-background);
    color: var(--body-color);
    font-family: var(--font-stack-body);
    font-size: clamp(1.125rem, 1.25vw, 1.75rem);
    margin: 0;

    transition: background-color .2s ease, color .2s ease;
}

h1,
.page-title {
    background-clip: text;
    background-image: var(--heading-gradient);
    color: transparent;
    font-family: var(--font-stack-headline);
    font-size: 1.75rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
    width: fit-content;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
    width: min(100%, 36rem);

    img {
      max-width: 100%;
    }
}

:where(a) {
    color: var(--link-color);
}

:where(code) {
  background-color: var(--code-background);
  padding: .125rem .25rem;
}

:where(dialog) {
  background-color: var(--body-background);
  color: var(--body-color);
  &::backdrop {
    background-color: var(--body-color);
    opacity: .8;
  }

  h2 {
    text-align: center;
  }

  .dialog-buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
  }
}

:where(summary) {
  font-weight: 525;
  text-transform: uppercase;
}