.form-container {
  &.convert {
    display: grid;
    gap: 1rem;
    grid-template-columns: 5fr 2fr;
  }
}

.form {
  &.convert {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / span 3;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;

    .drag-area {
      border-radius: .625rem;
      box-shadow: var(--shadow);
      grid-column: 1 / span 2;
      grid-row: 1;
      outline: 1px solid var(--table-border);
      outline-offset: -1px;
      padding: 1.75rem 2rem;
      text-align: center;
      &.drag-active {
        outline: 4px dashed var(--link-color);
        outline-offset: -2px;
      }
    
      .upload-label {
        cursor: pointer;
        font-weight: 725;
        transition: color .2s ease;
    
        &:hover {
          color: var(--link-color);
        }
      }
    }

    .form-input-preview {
      border: 1px solid var(--table-border);
      border-radius: .625rem;
      box-shadow: var(--shadow);
      grid-column: 2;
      grid-row: 2 / span 2;
      padding: 1.625rem;
  
      p {
        margin: 0 0 1em;
      }

      .preview {
        margin: 0 0 .875rem;
      }

      .image-name {
        display: block;
        margin: 1em 0;
      }

      .edit {
        font-size: 1em;
      }
    }

    .form-controls {
      border: 1px solid var(--table-border);
      border-radius: .625rem;
      box-shadow: var(--shadow);
      padding: 1.625rem;
    }
  }

  h2 {
    font-family: var(--font-stack-headline);
    font-size: clamp(1.5rem, 4vw, 6rem);
    text-transform: uppercase;
  }

  .fieldset {
    margin: 1.25rem 0;
    border-radius: 0.375rem;
    padding: 1em;
  }

  .fieldset-legend {
    font-size: 1rem;
    padding-inline: .75rem;
    text-transform: uppercase;
  }

  .table {
    border: 2px solid var(--table-border);
    border-collapse: collapse;
    margin-block: 3.75rem;

    caption {
      background-color: var(--table-caption-background);
      background-image: var(--heading-gradient);
      color: var(--table-caption-color);
      font-size: 1.125rem;
      font-weight: 650;
      padding: .375rem 2rem;
      text-transform: uppercase;
    }

    th[scope="col"] {
      background-color: var(--body-color);
      border: 1px solid var(--body-background);
      color: var(--body-background);
      font-size: 1rem;
      font-weight: 575;
      padding: .375rem 2rem;
      text-transform: uppercase;
    }

    th[scope="row"] {
      border: 1px solid var(--body-color);
      padding: .375rem 1rem;
      font-size: 1rem;
      font-variant: small-caps;
      font-weight: 575;
    }

    td {
      border: 1px solid var(--body-color);
      padding: .25rem 1rem;
      text-align: center;
      vertical-align: middle;
    }
  }

  .toggle {
    appearance: none;
    background-color: var(--link-color);
    border: 2px solid var(--link-color);
    border-radius: 1.25rem;
    cursor: pointer;
    display: block;
    filter: grayscale(.8);
    height: 1.625rem;
    margin-inline: auto;
    position: relative;
    width: 3.5rem;
    transition: all .2s ease;

    &::before {
      align-content: center;
      background-color: var(--body-background);
      clip-path: ellipse(1.125rem .75rem);
      color: var(--body-color);
      content: 'NO';
      display: block;
      font-size: .75rem;
      height: calc(1.625rem - 4px);
      left: 0;
      position: absolute;
      top: 0;
      width: calc(2.5rem - 4px);
      text-align: center;
      transition: all .2s ease;
    }

    &:checked {
      filter: grayscale(0);

      &::before {
        content: 'YES';
        left: .875rem;
      }
    }
  }

  .edit,
  .delete {
    background-color: transparent;
    border: none;
    color: var(--link-color);
    cursor: pointer;
    display: block;
    font-size: 1.75rem;
    margin-inline: auto;

    svg {
      display: block;
    }
  }



  .form-item {
    margin-block-end: 1rem;
  }

  .selected-label {
    font-size: 1rem;
  }

  .checkbox,
  .radio {
    accent-color: var(--link-color);
  }

  .checkbox-label,
  .radio-label {
    background-color: var(--body-background);
    border: 1px solid var(--body-color);
    border-radius: .375rem;
    display: inline-block;
    font-weight: 425;
    margin-inline-end: .75rem;
    margin-block-end: .75rem;
    padding: .25rem 1rem;

    &:has(:checked) {
      background-color: var(--link-color);
      border-color: var(--link-color);
      color: var(--body-background);
      font-weight: 475;
    }
  }

  .text-input {
    background-color: transparent;
    background-image: linear-gradient(in srgb 35deg, var(--shadow-color), transparent, var(--shadow-color));
    border: 1px solid var(--body-color);
    font-size: 1rem;
    margin-block-end: .625rem;
    padding: .25rem .75rem;
    width: min(100%, 20rem);

    &:focus-visible {
      background-color: var(--shadow-color);
    }
  }

  .input-help {
    display: block;
    font-size: 1rem;
  }

  .submit {
    align-items: center;
    background-color: var(--link-color);
    border: unset;
    border-radius: .25rem;
    color: var(--body-background);
    cursor: pointer;
    display: inline-flex;
    font-family: var(--font-stack-body);
    font-size: 1rem;
    font-weight: 525;
    gap: .75rem;
    padding: .625rem 2rem;
    text-transform: uppercase;
  }

  .position-list {
    margin-block-start: 1.25rem;
    padding: 0;

    ::marker {
      font-size: 0;
    }

    .label {
      font-size: 1rem;
      font-weight: 525;
      text-transform: uppercase;
    }

    .positions {
      ul {
        background-color: var(--table-border);
        border: 1px solid var(--table-border);
        display: grid;
        gap: 1px;
        grid-template-columns: repeat(3, 1fr);
        margin-block: .75rem;
        padding: 0;
        text-align: center;

        .radio-label {
          align-content: center;
          border: unset;
          border-radius: unset;
          height: 100%;
          width: 100%;
        }
      }
    }

    .strategies {
      ul {
        margin-block: .75rem;
        padding: 0;

        .radio-label {
          border-radius: unset;
        }
      }
    }
  }
}

.form-output {
  border: 1px solid var(--table-border);
  border-radius: .625rem;
  box-shadow: var(--shadow);
  grid-column: 1;
  grid-row: 3;
  padding: 1.625rem;

  p {
    margin: 0 0 1em;
  }

  .output {
    display: flex;
    flex-flow: wrap;
    gap: 4rem;
    padding: 4rem 0;

    p {
      margin: 0;
    }
  }
}



