.util-menu {
  align-items: flex-end;
  background-image: var(--menu-gradient);
  border-right: 1px solid var(--menu-border-color);
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
  height: max(100%, 100vh);
  padding: 1.625rem 0;
  width: 3rem;

  .label {
    display: none;
  }

  button {
    background-color: #0000;
    border: unset;
    color: var(--biscay-bay);
    display: flex;
    font-size: 2.25rem;
    padding: 0 calc(.125rem + 3px) 0 .125rem;
  }

  a {
    align-items: center;
    display: flex;
    font-size: 2.25rem;
    padding: 0 calc(.125rem + 3px) 0 .125rem;
    text-decoration: none;

    &[aria-current] {
      border-right: 3px solid var(--menu-border-color);
      padding: 0 .125rem;
    }
  }

  svg {
    display: block;
  }

  &.expanded {
    width: 10.75rem;
    .expand {
      svg {
        transform: rotateY(180deg);
      }
    }
    .label {
      display: inline-block;
      font-size: 1.125rem;
      font-weight: 550;
      margin-inline: .75rem;
      text-transform: uppercase;
    }
  }
}