.preview {
    border: 1px solid var(--body-color);
    padding: 1rem;
    max-width: calc(204px + 2rem);
    text-align: center;

    .preview-image {
        height: auto;
        margin: 0;
        width: 100%;
    }

    .image-name {
      font-size: .875rem;
    }
}